<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359662441201-cokn19d75ipteun6q25ll3vt08tdpe5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359662441201-cokn19d75ipteun6q25ll3vt08tdpe5g</string>
	<key>API_KEY</key>
	<string>AIzaSyA-M_aWxX1fM1iTS_5qhi3992b9RyEbI4s</string>
	<key>GCM_SENDER_ID</key>
	<string>359662441201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mullr.abisRecipes</string>
	<key>PROJECT_ID</key>
	<string>abi-s-recipes</string>
	<key>STORAGE_BUCKET</key>
	<string>abi-s-recipes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359662441201:ios:be2fdf54a436839cc24f50</string>
</dict>
</plist>